:root {
  --green: #137834;
  --blue: #223a74;
  --gray: #efefef;
  --white: #ffffff;
  font-family: Poppins;
  --font-desktop: 1.2rem;
  --font-tablet: 1rem;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--gray);
}

p,
h1,
h2 {
  margin: 0;
}

a {
  color: transparent;
}

/* HEADER STYLE --------------------------------------------------------------------------------------- */
header {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  width: 100%;
}

.container-header {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.container-header-logo {
  width: 7rem;
}

.container-header-menu-button {
  align-self: center;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.container-header-dropdown {
  display: none;
  top: 100%;
  background-color: var(--white);
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.container-header-dropdown.show {
  display: block;
  opacity: 1;
  animation: dropdown-show 0.5s ease-out;
}

@keyframes dropdown-show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-header-list {
  list-style: none;
  align-items: center;
}

.container-header-list li {
  color: var(--blue);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
li > a {
  text-decoration: none;
  color: var(--blue);
}
li > a:active {
  color: var(--blue);
}

.container-header-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.container-header-buttons {
  display: flex;
  align-items: center;
}

.container-header-contacts-links {
  display: flex;
  align-items: center;
}
.container-header-contacts-links > a {
  display: flex;
  align-items: center;
}

.container-header-contacts-links img {
  margin: 0 5px;
  width: 2rem;
}

.container-header-contacts-button {
  padding: 10px 15px;
  border: 1px solid var(--green);
  border-radius: 4px;
  background-color: var(--green);
  cursor: pointer;
  color: var(--white);
  margin-right: 1rem;
}

.container-header-catalog-button {
  padding: 10px 15px;
  border: 1px solid var(--green);
  border-radius: 4px;
  background-color: var(--green);
  cursor: pointer;
  color: var(--white);
}

/* MAIN STYLE---------------------------------------------------------------------------------------- */

.desktop-background,
.mobile-background,
.tablet-background {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SECTION QUEM SOMOS --------------------------------------------------------------- */

.section-quem-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-top: 40px;
}

.section-quem-somos-card {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 25px 25px;
  background-color: var(--white);
  border-radius: 25px;
}
.section-quem-somos-card > img {
  width: 40%;
  margin: 1rem;
  height: auto;
}
.section-quem-somos-card > p {
  font-size: 1.3rem;
  text-align: justify;
  margin: 0;
  margin-right: 5px;
}

/* SECTION CARROUSEL ------------------------------------------------------------------ */

.section-parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
/* Estilo do carrossel */
.swiper-container {
  width: 80%; /* Largura do carrossel */
  height: 200px; /* Altura do carrossel */
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

/* Estilo dos slides */
.swiper-slide {
  width: calc((100% - 3 * 20px) / 4); /* Largura fixa de cada slide */
  height: 200px; /* Altura dos slides */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  background-color: #ffff; /* Cor de fundo dos slides */
  font-weight: 600;
  font-size: 1rem;
  color: gray;
  border-radius: 9px;
}

.swiper-slide > img {
  min-width: 150px;
  max-width: 75%;
  height: 90px;
}

/* Estilo dos botões de navegação */
.swiper-button-prev,
.swiper-button-next {
  color: var(); /* Cor dos botões de navegação */
}

.button-cotacao {
  padding: 15px;
  border: 1px solid var(--green);
  border-radius: 4px;
  background-color: var(--green);
  color: var(--white);
  width: 22rem;
  font-size: 1.35rem;
  font-weight: 400;
  cursor: pointer;
  align-self: center;
  margin-top: 3rem;
}

/* SECTION CONTATOS */

.section-contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.section-contatos > h1 {
  margin-top: 6rem;
}

.contatos-card {
  width: 80%;
  height: auto;
  display: flex;
  padding: 25px 25px;
  background-color: var(--blue);
  border-radius: 25px;
  justify-content: space-between;
  color: var(--white);
}

.contatos-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.contatos-card-info > p {
  display: flex;
  margin-bottom: 5px;
  text-decoration: none;
}

p > img {
  color: var(--white);
}

.button-cliente {
  padding: 15px;
  border: 1px solid var(--green);
  border-radius: 4px;
  background-color: var(--green);
  color: var(--white);
  width: 22rem;
  font-size: 1.35rem;
  font-weight: 400;
  cursor: pointer;
  align-self: center;
  margin-top: 3rem;
}

/* FOOTER */

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  padding: 10px;
  color: var(--blue);
  font-weight: 500;
  margin-top: 30px;
}

.container-footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.logo-ema {
  max-width: 10rem;
}

.logo-social {
  align-self: center;
}
.logo-social > img {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 319px) {
  body {
    width: 320px;
    height: 100vh;
  }

  header {
    position: relative;
    height: auto;
    transition: height 0.5s ease-in-out;
  }

  .container-header {
    width: 90%;
    justify-content: space-between;
  }

  .container-header-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .container-header-list {
    padding: 0;
  }

  .container-header-list li {
    font-size: 16px;
  }
  .container-header-contacts-button {
    margin-right: 0.5rem;
  }

  .container-header-dropdown.show {
    max-height: 300px;
  }

  .container-header-contacts {
    border-top: 1px solid #ddd;
  }

  .container-header-dropdown:not(.show) {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }

  .container-header-contacts-button,
  .container-header-catalog-button {
    font-size: 0.75rem;
    padding: 8px 10px;
  }

  .container-header-dropdown:not(.show) {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }

  /* MAIN */

  .mobile-background {
    display: block;
  }

  /* SECTION QUEM SOMOS */

  .section-quem-somos-card {
    flex-direction: column;
    padding: 20px;
  }
  .section-quem-somos-card > img {
    width: 70%;
    height: auto;
  }
  .section-quem-somos-card > p {
    font-size: 1.2rem;
    margin: 0;
  }
  /* SECTION PARCEIROS */
  .section-parceiros > p {
    width: 80%;
    font-size: 0.8rem;
  }

  .button-cotacao {
    width: 15rem;
  }

  /* SECTION CONTATOS */
  .contatos-card {
    flex-direction: column;
    align-items: center;
  }
  .contatos-card > iframe {
    width: 100%;
    height: 200px;
  }
  .contatos-card-info > p {
    margin-bottom: 0;
  }

  .button-cliente {
    width: 15rem;
  }

  /* FOOTER */

  .container-footer > p {
    font-size: 0.8rem;
    text-align: center;
    align-self: center;
  }

  .logo-social {
    align-self: center;
  }
  .logo-social > img {
    width: 2rem;
    height: 2rem;
  }

  .logo-ema {
    max-width: 10rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) /* MOBILE SCREEN ---------------------------------------------------------------------------------------*/ {
  /* HEADER */
  header {
    position: relative;
    height: auto;
    transition: height 0.5s ease-in-out;
  }

  .container-header {
    width: 90%;
    justify-content: space-between;
  }

  .container-header-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .container-header-list {
    padding: 0;
  }

  .container-header-list li {
    font-size: 16px;
  }

  .container-header-contacts-button {
    margin-right: 0.5rem;
  }

  .container-header-dropdown.show {
    max-height: 300px;
  }

  .container-header-contacts {
    border-top: 1px solid #ddd;
  }

  .container-header-dropdown:not(.show) {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }

  .container-header-contacts-button,
  .container-header-catalog-button {
    font-size: 0.75rem;
    padding: 8px 10px;
  }

  /* MAIN */

  .mobile-background {
    display: block;
  }

  /* SECTION QUEM SOMOS */

  .section-quem-somos-card {
    flex-direction: column;
    padding: 20px;
  }
  .section-quem-somos-card > img {
    width: 70%;
    height: auto;
  }
  .section-quem-somos-card > p {
    font-size: 1.2rem;
    margin: 0;
  }
  /* SECTION PARCEIROS */
  .section-parceiros > p {
    width: 80%;
    font-size: 0.8rem;
  }

  .button-cotacao {
    width: 15rem;
  }

  /* SECTION CONTATOS */
  .contatos-card {
    flex-direction: column;
    align-items: center;
  }
  .contatos-card > iframe {
    width: 100%;
    height: 200px;
  }
  .contatos-card-info > p {
    margin-bottom: 0;
  }

  .button-cliente {
    width: 15rem;
  }

  /* FOOTER */

  .container-footer > p {
    font-size: 0.8rem;
    text-align: center;
    align-self: center;
  }

  .logo-social {
    align-self: center;
  }
  .logo-social > img {
    width: 2rem;
    height: 2rem;
  }

  .logo-ema {
    max-width: 10rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) /* TABLET SCREEN ----------------------------------------------------------------------------------------------- */ {
  /* HEADER */

  .container-header-logo {
    width: 7.5rem;
    height: 5.5rem;
  }
  .container-header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .container-header-list {
    text-align: center;
    margin: 0;
    display: flex;
    gap: 2rem;
    font-size: var(--font-tablet);
    font-weight: 500;
    padding: 0;
  }

  .container-header-list li:hover {
    border-bottom: solid 3px var(--blue);
  }

  .container-header-contacts-links img:hover {
    border-bottom: solid 3px var(--blue);
  }

  .container-header-contacts {
    justify-content: flex-end;
    padding: 4px;
  }

  .container-header-menu-button {
    display: none;
  }

  .container-header-dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .container-header-contacts-button {
    padding: 8px 12px;
    height: auto;
    margin-right: 4px;
  }

  .container-header-catalog-button {
    padding: 8px 12px;
    height: auto;
  }

  .tablet-background {
    display: block;
  }

  /* SECTION QUEM SOMOS */

  .section-quem-somos-card {
    flex-direction: column;
  }
  .section-quem-somos-card > img {
    width: 55%;
    height: auto;
  }
  .section-quem-somos-card > p {
    font-size: 1.25rem;
    text-align: justify;
    margin: 0;
  }

  .section-quem-somos-card > img {
    width: 50%;
    margin-bottom: 1rem;
    height: auto;
  }
  /* SECTION CAROUSEL */

  /* Estilo dos slides */
  .swiper-slide {
    width: calc((100% - 3 * 15px) / 4); /* Largura fixa de cada slide */
  }

  .swiper-slide > img {
    min-width: 120px;
    max-width: 50%;
    height: 90px;
  }

  /* FOOTER */
  .container-footer > p {
    font-size: 0.8rem;
  }

  .logo-social {
    align-self: center;
  }
  .logo-social > img {
    width: 2rem;
    height: 2rem;
  }
  .logo-ema {
    max-width: 10rem;
  }
}

/* CONTATOS SECTION */

@media only screen and (min-width: 1024px) /* DESKTOP SCREEN ------------------------------------------------------------------------------------------- */ {
  .desktop-background {
    display: block;
  }

  .container-header-list li:hover {
    border-bottom: solid 3px var(--blue);
  }

  .container-header-contacts-links img:hover {
    border-bottom: solid 3px var(--blue);
  }

  .container-header-logo {
    width: 7.5rem;
    height: 5.5rem;
  }

  .container-header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .container-header-list {
    text-align: center;
    margin: 0;
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    font-size: var(--font-desktop);
    font-weight: 500;
    padding: 0;
  }

  .container-header-contacts {
    justify-content: flex-end;
  }

  .container-header-menu-button {
    display: none;
  }

  .container-header-dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .container-header-contacts-button,
  .container-header-catalog-button {
    padding: 12px 17px;
  }

  .section-quem-somos-card > img {
    width: 30%;
    height: auto;
  }

  .logo-ema {
    max-width: 10rem;
  }
}
